<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>我的工作台</title>
<script th:inline="javascript">     
        var contextPath= [[@{/}]];      
</script>
<script type="text/javascript"
	th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
<script>
$(document).ready(function(){
		$("#logout").bind("click", function(){
			$.ajax({
				url : contextPath+'logout',
				type : "post",
				success : function(data) {
					alert('登出');
					location.href = contextPath+"index2";
				}
			});
		});
	});
</script>
</head>
<body>
你好，[[${session.body}]]
<div>[[${#dates.format(new java.util.Date().getTime(), 'yyyy-MM-dd HH:mm:ss')}]]</div>
<button class="btn btn_primary" id="logout">退出登录</button>
</body>
</html>
