<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>企业微信</title>
<script th:inline="javascript">     
        var contextPath= [[@{/}]];      
</script>
</head>
<body>
	<iframe
		src="https://login.work.weixin.qq.com/wwlogin/sso/login?login_type=CorpApp&agentid=1000002&appid=ww5d36e10908fed266&redirect_uri=https%3A%2F%2Fhctesttest.vjsp.cn%2Fcms/entwechat/authorize&state=web_login@gyoss9"
		height="380px" width="300px" frameborder="0"
		style="margin-top: -50px;"></iframe>
</body>
</html>
