package ${package}.${moduleName}.model.vo.query;

import io.swagger.v3.oas.annotations.media.Schema;
import lombok.Data;
import lombok.EqualsAndHashCode;
import ${package}.${moduleName}.model.vo.page.BasePageVO;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
#if(${hasDate})
import com.fasterxml.jackson.annotation.JsonFormat;
import java.util.Date;
#end

/**
 * ${comments}查询条件对象
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
@EqualsAndHashCode(callSuper = true)
@Schema(description = "${comments}查询条件对象")
public class ${className}QueryVO extends BasePageVO {


#foreach($column in $columns)
#if($column.columnName != $pk.columnName && 
    $column.columnName.toLowerCase() != "create_user_id" && 
    $column.columnName.toLowerCase() != "create_time" && 
    $column.columnName.toLowerCase() != "update_user_id" && 
    $column.columnName.toLowerCase() != "update_time" && 
    $column.columnName.toLowerCase() != "del_flag")
    /**
     * ${column.comments}
     */
    #if(${column.attrType} == "Date")
    @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss", timezone = "Asia/Shanghai")
    #end
    @Schema(description = "${column.comments}")
    private ${column.attrType} ${column.attrname};
    
#end
#end
}