package ${package}.${moduleName}.model.convert;

import org.mapstruct.Mapper;
import org.mapstruct.ReportingPolicy;
import org.mapstruct.factory.Mappers;

import ${package}.${moduleName}.model.vo.form.${className}FormVO;
import ${package}.${moduleName}.model.vo.view.${className}VO;
import ${package}.${moduleName}.model.vo.list.${className}ListVO;
import ${package}.${moduleName}.model.po.${className}PO;

import java.util.List;

/**
 * ${comments}数据转换对象
 * 使用MapStruct实现对象之间的自动映射
 *
 * @author ${author}
 * @date ${datetime}
 */
@Mapper(unmappedTargetPolicy = ReportingPolicy.IGNORE)
public interface ${className}Convert {

    ${className}Convert INSTANCE = Mappers.getMapper(${className}Convert.class);
    
    /**
     * 将表单数据转换为实体对象（保存）
     *
     * @param form ${comments}表单数据
     * @return ${comments}持久化对象
     */
    ${className}PO convert(${className}FormVO from);
    
    /**
     * 将实体对象转换为视图对象（查询）
     *
     * @param ${comments}持久化对象
     * @return ${comments}表单数据
     */
    ${className}VO convert(${className}PO ${classname});
    
    /**
     * 将实体对象列表转换为视图对象列表（列表）
     *
     * @param list ${comments}持久化对象列表
     * @return ${comments}列表查询对象
     */
    List<${className}ListVO> convertList(List<${className}PO> list);
}