package ${package}.${moduleName}.service;

import ${package}.${moduleName}.model.po.${className}PO;
import ${package}.${moduleName}.model.vo.view.${className}VO;
import ${package}.${moduleName}.model.vo.query.${className}QueryVO;
import ${package}.${moduleName}.model.vo.form.${className}FormVO;
import ${package}.${moduleName}.model.vo.list.${className}ListVO;
import ${package}.${moduleName}.common.model.api.CommonPage;
import ${package}.${moduleName}.framework.service.SuperService;

import java.util.List;

/**
 * ${comments}服务接口
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Service extends SuperService<${className}PO> {

    /**
     * 保存${comments}
     *
     * @param form ${comments}表单数据
     */
    void save(${className}FormVO form);

    /**
     * 更新${comments}
     *
     * @param id   ${comments}记录ID
     * @param form ${comments}表单数据
     */
    void edit(Long id, ${className}FormVO form);

    /**
     * 获取${comments}
     *
     * @param id ${comments}记录ID
     * @return ${className}VO ${comments}详情信息
     */
    ${className}VO get(Long id);

    /**
     * 分页查询${comments}列表
     *
     * @param query ${comments}查询条件
     * @return CommonPage<${className}VO> ${comments}分页列表
     */
    CommonPage<${className}ListVO> page(${className}QueryVO query);

    /**
     * 查询所有${comments}
     *
     * @param query ${comments}查询条件
     * @return List<${className}VO> ${comments}列表
     */
    List<${className}ListVO> listAll(${className}QueryVO query);

}

