<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>我的工作台</title>

<script th:inline="javascript">     
        var contextPath= [[@{/}]];      
</script>

<script
	th:src="|${#servletContext.contextPath}/webjars/jquery/3.7.1/jquery.min.js|"></script>

<script>
	function logout() {
		$.ajax({
			url : contextPath+'logout',
			type : "POST",
			success : function(data) {
				location.href = contextPath;
			}
		});
	}
</script>
</head>
<body>
	<table width="100%" cellpadding="10">
		<!-- 语言选择区域 -->
		<tr>
			<td>
				<div>
					<a href="?lang=en_US">English</a> | <a href="?lang=zh_CN">中文</a>
				</div>
			</td>
		</tr>
		<!-- 欢迎信息区域 -->
		<tr>
			<td>
				<div style="font-size: 20px; font-weight: bold;">
					<span th:inline="text"> [[${session.user}]]，[[#{welcome}]]</span>
				</div>
			</td>
		</tr>
		<!-- 时间显示区域 -->
		<tr>
			<td>
				<div style="font-size: 16px;">[[${#dates.format(new
					java.util.Date().getTime(), 'yyyy-MM-dd HH:mm:ss')}]]</div>
			</td>
		</tr>
		<!-- 退出按钮区域 -->
		<tr>
			<td>
				<div>
					<input type="submit" onclick="logout();" th:value="#{login.logout}" />
				</div>
			</td>
		</tr>
	</table>
</body>
</html>